.test-animation {
  position: relative;
  height: 100px;
  width: 100vw;
  box-sizing: border-box;
}

.test {
  &__inner {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    width: 69px;
    height: 100px;
    top: 0;
    left: calc(100% - 69px);
    background: url("/img/test/test.png") no-repeat;
    background-position: 0 0;
    background-size: 1370px 70px;
    transform: scale(-1, 1);
    animation: pony-trot 1s steps(21) infinite, pony-move 10s linear infinite, pony-scale 10s steps(1) infinite;
  }
}

@keyframes pony-trot {
  100% {
    background-position: -1370px 0;
  }
}

@keyframes pony-move {
  0% {
    left: 0%;
  }

  50% {
    left: calc(100% - 69px);
  }

  100% {
    left: 0%;
  }
}

@keyframes pony-scale {
  50% {
    transform: initial;
  }
}
